
<%if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<p><center><h2>Welcome to the Auctions home</center>



The purpose of this auction site is to provide a means for non-profit organizations to raise money for their projects.  Use this site at your own risk.
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

