
<%if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<p><center><h2>Welcome to the Auctions home page</center>

The purpose of this auction site is to provide a means for non-profit organizations to raise money for their projects. To view available auctions click the Auctions link on the left.
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

